
@{
    ViewData["Title"] = "Xəbərlər və aksiyalar / Unibank";
}
@{
    NewsViewModel model = Model;
    var news = model.NewsList;
}

<main>
    <section>
        <div class="custom_container">
            <div class="page_title">
                <h1>Xəbərlər və aksiyalar</h1>
            </div>
            <div class="news_page">
                @foreach (var info in news)
                {
                    <div class="news_box" data-newsdetails="/news/details/@info.Id">
                        <h1>@info.Title</h1>
                        <p>@Html.Raw(info.Description.Length > 300 ? info.Description.Substring(0, 300) + "..." : info.Description)</p>
                        <span>@info.BroadcastDate</span>
                    </div>
                }
            </div>
            <div class="pagination" id="pagination"></div>
        </div>
    </section>
</main>


