@model BranchUpdateViewModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input asp-for="Name" placeholder="Section name" class="form-control" />
    <input asp-for="Address" placeholder="Address" class="form-control" />
    <textarea asp-for="WorkTime" id="description" class="form-control" placeholder="Work time"></textarea>
    <input asp-for="Description" placeholder="Description" class="form-control" />
    <label asp-for="RemovedSectionIds">Remove Section</label>
    <select asp-for="RemovedSectionIds" asp-items="Model.RemovedSections" placeholder="Section name" class="form-control"></select>
    <label asp-for="AddedSectionIds">Add Section</label>
    <select asp-for="AddedSectionIds" asp-items="Model.AvailableSections" placeholder="Section name" class="form-control"></select>
    <div style="width:20%; display:flex; justify-content:space-between; margin:10px auto">
        <button style="margin-right:10px" class="btn btn-success" type="submit">Update</button>
        <a asp-action="index" class="btn btn-danger">Cancel</a>
    </div>
</form>

@section Scripts{
    <partial name="_CkEditorPartial"></partial>
}