
@{
    ViewData["Title"] = $"{Model.PageTitle}";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

@model DigitalBanking

<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Digital Banking</h4>
            <p class="card-description">
                @Model.PageTitle
            </p>
            <p>
                @Model.Description
            </p>
            <p><i class="@Model.Icon" style="font-size:30px"></i></p>
            <p>@Model.PageUrl</p>
        </div>
    </div>
</div>
