@{
    ViewData["Title"] = $"{Model.PageTitle}";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

@model Contact

<div class="col-md-6 grid-margin stretch-card" style="width:80vw">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Contact</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="PageTitle">Page Title</label>
                    <input asp-for="PageTitle" class="form-control" placeholder="Page Title">
                    <span asp-validation-for="PageTitle"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control" placeholder="Description">
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Icon">Icon</label>
                    <input asp-for="Icon" class="form-control" placeholder="Icon">
                    <span asp-validation-for="Icon"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PageUrl">Page Url</label>
                    <input asp-for="PageUrl" class="form-control" placeholder="Page Url">
                    <span asp-validation-for="PageUrl"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <button class="btn btn-light" asp-action="index">Cancel</button>
            </form>
        </div>
    </div>
</div>